:root {
  --width: 1000px;
  --height: 600px;
  --border-button: 20px solid skyblue;
  --border-button-hover: 20px solid rgb(116, 172, 194);
}

@font-face {
  font-family: Arcade;
  src: url(../fonts/ARCADECLASSIC.TTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: Arcade;
  overflow: hidden;
}

#main {
  position: relative;
  width: var(--width);
  height: var(--height);
  margin: 0 auto;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  border: 8px dotted #fff;
}

#display {
  position: fixed;
  top: 50vh;
  left: 51.5vw;
  transform: translate(-50%, -50%);
  z-index: 11;
  display: grid;
  gap: 1rem;
  justify-items: center;
}

#score,
#info,
#lives,
#level {
  color: #fff;
}

header {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  top: 0;
  width: 100%;
  margin: 1rem 1rem 1rem 1rem;
}

.headerTexts {
  font-weight: 500;
}

#score,
#lives,
#level {
  font-size: 1.5rem;
  font-weight: 900;
  display: grid;
  justify-items: center;
  font-style: italic;
}
#level {
  justify-self: center;
}
#score {
  justify-self: start;
}
#lives {
  justify-self: end;
  margin-right: 2rem;
}
#info {
  font-size: 1.2rem;
  animation: blink 1s infinite;
}

#start {
  position: relative;
  z-index: 100;
  background: linear-gradient(to bottom, #ccc, #fff);
  color: #666;
  border: none;
  border-radius: 25px;
  padding: 0.3rem 2.4rem;
  font-weight: 700;
  border-left: var(--border-button);
  border-right: var(--border-button);
  outline: none;
  width: 150px;
  &:hover {
    color: #111;
    box-shadow: 0px 0px 0px 4px #000, 0px 0px 0px 8px #fff;
    border-left: var(--border-button-hover);
    border-right: var(--border-button-hover);
  }
}

#dificultyParent {
  display: grid;
  justify-items: center;
  gap: 1rem;
}
p {
  font-size: 2rem;
  color: #fff;
}
.dificulty {
  color: #fff;
  font-size: 1.4rem;
  display: grid;
  gap: 0.6rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  input[type="radio"] {
    display: none;
  }
  input[type="radio"]:checked + label {
    color: yellow;
  }
  label:hover {
    color: darkorange;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
